* {
    margin: 0;
    padding: 0;
}

body {
    @import url(<link rel="preconnect" href="https://fonts.googleapis.com"
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">);
    font-size: 14px;
    color: #111;
    line-height: 1.15;
    width: 100%;
}

.header {
    max-width: 100%;
    height: 150px;
    background-color: rebeccapurple;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 150px;
    position: sticky;
    top: 0;
    
}

h5 {
    color: #fff;
    font-size: 30px;

}

.sidebar {
    width: 20%;
}

nav . {
    height: 150vh;
    background-color: rgb(255 255 255);
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu li {
    padding: 15px;
    margin-left: 10px;
    list-style: none;


}

.menu li a {
    text-decoration: none;
    font-size: 20px;
}

.main {
    width: 100%;
    flex: 1;
    height: 150vh;
    background-color: #fff;


}

.content {
    display: flex;

}



.icon img {

    width: 40px;
    height: 40px;
    border-radius: 40px;
    text-align: center;

}

.icon {
    position: relative;
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;

}




h3 {
    font-size: 18px;
    color: #111;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: #555;
    font-weight: 600;
}

.headline {
    text-align: center;
    margin: 40px 0;

}

ul.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.products li {
    flex-basis: 25%;
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

ul.products li img {
    max-width: 100%;
    height: auto;
}

ul.products li .product-top {
    position: relative;
    overflow: hidden;

}

ul.products li .product-top .product-thumb {
    display: block;
}

ul.products li .product-top .product-thumb img {
    display: block;
}

ul.products li .product-top a.by-now {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: rgb(0, 81, 255);
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    width: 100%;

}

ul.products li .product-info {
    padding: 10px 0px;
}

ul.products li .product-info a {
    display: block;
    text-decoration: none;
}

ul.products li .product-info a.product-cat {
    font-size: 11px;
    color: black;
    text-transform: uppercase;
}

ul.products li .product-info a.product-name {
    color: blue;
    padding: 3px 0px;
}

ul.products li .product-info .product-price {
    color: red;
    padding: 2px 0px;
    font-weight: 600;
}

.menu-mobile {
    display: none;
}

/* css responsive */
@media screen and (max-width:768px) {
    .sidebar {
        display: none;

    }


    .menu-mobile {
        display: block;
        position: absolute;
        left: 30px;
        top: 50px;
        font-size: 30px;



    }

    .headline h3 {
        font-size: small;
    }


    .nav {
        position: relative;
    }

    ul.products li {
        flex-basis: 50%;
        list-style: none;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        margin-bottom: 30px;
    }



}

@media screen and (max-width:425px) {
    .sidebar {
        display: none;

    }


    .menu-mobile {
        display: block;
        position: absolute;
        left: 30px;
        top: 50px;
        font-size: 30px;
    }
    .headline h3 {
        font-size: 10px;
    }
    .nav {
        position: relative;
    }
    ul.products li {
        flex-basis: 100%;
        list-style: none;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        margin-bottom: 30px;
    }
}